In [1]:
import numpy as np
import pandas as pd

In [2]:
data={
    "marksA": np.random.randint(0,100,5),
    "marksB":np.random.randint(0,100,5),
    "marksC":np.random.randint(0,100,5),
}

In [3]:
data

{'marksA': array([ 6, 27, 84, 71, 88]),
 'marksB': array([60, 66, 72, 41, 52]),
 'marksC': array([18, 85, 67, 63,  5])}

In [6]:
df=pd.DataFrame(data)
print(df)

   marksA  marksB  marksC
0       6      60      18
1      27      66      85
2      84      72      67
3      71      41      63
4      88      52       5

In [14]:
df.head()
df.head(n=3)

   marksA  marksB  marksC
0       6      60      18
1      27      66      85
2      84      72      67

In [20]:
df.to_csv("pandasBasics.csv",index=False)

In [22]:
mydata=pd.read_csv("pandasBasics.csv")
mydata

   marksA  marksB  marksC
0       6      60      18
1      27      66      85
2      84      72      67
3      71      41      63
4      88      52       5